@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --primary: #0f52ba;
  --secondary: #89cff0;
  --bg: #f6f7f9;

  --background: linear-gradient(135deg, #89cff0, #0f52ba);
  --foreground: #111111;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #89cff0, #0f52ba);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
